<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
  <title>ManuSearch</title>
  <link rel="stylesheet" href="{{url_for('static', filename='assets/stylesheet/main.css') }}">
</head>

<body>
    <header class="primary-header container group">
        <h1 class="logo" ><a href="/">Universitätsspital Basel<br>Stiftungsdatenbank</a></h1>
    </header>
    <!---->
    <section class="row">
        <div class="grid">
            <h1>Eine Stiftung mit diesem Namen<br>ist bereits in der Datenbank enthalten</h1>
        </div>
    </section>
    <footer class="primary-footer container group">Homepage designed by Manibu</footer>
</body>
</html>
