<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
  <title>Stiftung erfassen/bearbeiten</title>
  <link rel="stylesheet" href="{{url_for('static', filename='assets/stylesheet/main.css') }}">
</head>

<body>
    <header class="primary-header container group">
        <h1 class="logo" ><a href="/">Universitätsspital Basel<br>Stiftungsdatenbank</a></h1>
    </header>
    <!---->
    <section class="row ">
        <div class="container">
        <fieldset class="foundation-group">
        <h1>Erfassen einer neuen Stiftung</h1>
        <form action="/formularadd" method="post">
            <input type="hidden" name="mode" value="{{mode}}">
            <label>Name der Stiftung
                <input class="large-input" type="text" name="name" required="" value="{{blubber['foundationname']}}"></label>
            <label>Kontaktinformation
                <input class="large-input" type="text" name="adress" placeholder="Strasse Nr, PLZ Ort" value="{{blubber['address']}}">
                <input class="large-input" type="text" name="phone" placeholder="Telefonnummer" value="{{blubber['pnumber']}}">
                <input class="large-input" type="email" name="mail" placeholder="Mail" value="{{blubber['mail']}}">
                <input class="large-input" type="url" name="website" placeholder="http://" value="{{blubber['website']}}">
                <input class="large-input" type="text" name="contactperson" placeholder="Kontaktperson" value="{{blubber['contactperson']}}"></label>
            <label>Zweck
                <textarea class="large-input" type="textarea" name="zweck">{{blubber['purpose']}}</textarea></label>
            <label class="foundation-checkbox">Art der Förderung
            <ul>
                <li><input type="checkbox" name="kindOfBoost" value="Projektförderung" id="projekt" /
                    {% if 'Projekt' in blubber['kindofboost'] %}checked{% else %}{% endif %}>
                    <label for="projekt">Projektförderung</label></li>
                <li><input type="checkbox" name="kindOfBoost" value="Personenförderung" id="person"/
                    {% if 'Personen' in blubber['kindofboost'] %}checked{% else %}{% endif %}>
                    <label for="person">Personenförderung</label></li>
                <li><input type="checkbox" name="kindOfBoost" value="Preis" id="preis"/
                    {% if 'Preis' in blubber['kindofboost'] %}checked{% else %}{% endif %}>
                    <label for="preis">Preis</label></li>
                <li><input type="checkbox" name="kindOfBoost" value="Druckkostenbeiträge" id="druck"/
                    {% if 'Druck' in blubber['kindofboost'] %}checked{% else %}{% endif %}>
                    <label for="druck">Druckkostenbeiträge</label></li>
                <li><input type="checkbox" name="kindOfBoost" value="Reisekosten" id="reise"/
                    {% if 'Reisek' in blubber['kindofboost'] %}checked{% else %}{% endif %}>
                    <label for="reise">Reisekosten</label></li>
                <li><input type="checkbox" name="kindOfBoost" value="Auslandaufenthalte" id="ausland"/
                    {% if 'Ausland' in blubber['kindofboost'] %}checked{% else %}{% endif %}>
                    <label for="ausland">Auslandaufenthalte</label></li>
                <li><input type="checkbox" name="kindOfBoost" value="Keine Angabe" id="kangabe"/
                    {% if 'Angabe' in blubber['kindofboost'] %}checked{% else %}{% endif %}>
                    <label for="kangabe">Keine Angabe</label></li>
            </ul>
            </label>
            <label class="foundation-nebenand">
                Fördersumme
                <input type="text" name="money" value="{{blubber['sum']}}" style="width:110px;margin:0 15px 0 10px">
                Währung<select name="currency">
                    <option></option>
                    <option value="CHF"/
                        {% if 'CHF' in blubber['currency'] %}selected{% else %}{% endif %}>CHF</option>
                    <option value="EUR"/
                        {% if 'EUR' in blubber['currency'] %}selected{% else %}{% endif %}>EUR</option>
                </select>
            </label><br>
            <label class="foundation-checkbox">Breite des Stiftungsfokus
                <ul>
                    <li><input type="checkbox" name="broadness" value="Enger Fokus (radiologisch-klinisch, MR-Physik etc.)" id="eng"/
                        {% if 'Enger' in blubber['broadness'] %}checked{% else %}{% endif %}>
                        <label for="eng">Enger Fokus (radiologisch-klinisch, MR-Physik etc.)</label>
                    </li>
                    <li><input type="checkbox" name="broadness" value="Weiterer Fokus (Medizin, Physik, Chemie)" id="breit"/
                        {% if 'Weiterer' in blubber['broadness'] %}checked{% else %}{% endif %}>
                        <label for="breit">Weiterer Fokus (Medizin, Physik, Chemie)</label>
                    </li>
                    <li><input type="checkbox" name="broadness" value="Breiter Fokus (Gesellschaft etc.)" id="weit"/
                        {% if 'Breiter' in blubber['broadness'] %}checked{% else %}{% endif %}>
                        <label for="weit">Breiter Fokus (Gesellschaft etc.)</label>
                    </li>
                </ul>
            </label>
            <label class="foundation-checkbox">Akademischer Grad
                <ul>
                    <li><input type="checkbox" name="acadDegree" value="Prof" id="prof"/
                        {% if 'Prof' in blubber['acadDegree'] %}checked{% else %}{% endif %}>
                        <label for="prof">Prof.</label>
                    </li>
                    <li><input type="checkbox" name="acadDegree" value="PD" id="pd"/
                        {% if 'PD' in blubber['acadDegree'] %}checked{% else %}{% endif %}>
                        <label for="pd">PD</label>
                    </li>
                    <li><input type="checkbox" name="acadDegree" value="PhD" id="phd"/
                        {% if 'PhD' in blubber['acadDegree'] %}checked{% else %}{% endif %}>
                        <label for="phd">PhD</label>
                    </li>
                    <li><input type="checkbox" name="acadDegree" value="Doktorand" id="doktorand"/
                        {% if 'Doktorand' in blubber['acadDegree'] %}checked{% else %}{% endif %}>
                        <label for="doktorand">Doktorand</label>
                    </li>
                    <li><input type="checkbox" name="acadDegree" value="MD" id="md"/
                        {% if 'MD' in blubber['acadDegree'] %}checked{% else %}{% endif %}>
                        <label for="md">MD</label>
                    </li>
                    <li><input type="checkbox" name="acadDegree" value="Master" id="master"/
                        {% if 'Master' in blubber['acadDegree'] %}checked{% else %}{% endif %}>
                        <label for="master">Master</label>
                    </li>
                    <li><input type="checkbox" name="acadDegree" value="Cand. med." id="cmed"/
                        {% if 'Cand' in blubber['acadDegree'] %}checked{% else %}{% endif %}>
                        <label for="cmed">Cand. med.</label>
                    </li>
                </ul>
            </label>
            <label>Weitere Bedingungen
                <textarea class="large-input" type="textarea" name="condElse">{{blubber['condElse']}}</textarea>
            </label>
            <label>Sondierungsanfrage schicken </label>
                <input type="checkbox" name="sondierung" value="Ja" id="sondierung"/
                {% if blubber['sondierung'] %}checked{% else %}{% endif %}><br><br>
            <label class="foundation-nebenand foundation-checkbox">Einreichefrist<br><br>
                <label for="deadline1">Datum 1:</label>
                <input name="deadline1" id="deadline1" pattern="[0-9]{2}.[0-9]{2}." placeholder="dd.mm."/
                  {% if blubber['deadline'] %}value="{{blubber['deadline'][0:6]}}"{% endif %}>
                <label for="deadline2">Datum 2:</label>
                <input name="deadline2" id="deadline2" pattern="[0-9]{2}.[0-9]{2}." placeholder="dd.mm."/
                  {% if (blubber['deadline']|length>10) %}value="{{blubber['deadline'][9:15]}}"{% endif %}><br>
                <label for="variabel">Ändert Jährlich</label>
                <input type="checkbox" name="variabel" value="Variabel" id="variabel"/
                {% if blubber['variabel'] %}checked{% else %}{% endif %}>
                <label for="fix">Fix</label>
                <input type="checkbox" name="fix" value="Fix" id="fix"/
                {% if blubber['fix'] %}checked{% else %}{% endif %}>
                <label for="pending">Laufend</label>
                <input type="checkbox" name="pending" value="Laufend" id="pending"/
                    {% if blubber['pending'] %}checked{% else %}{% endif %}>
                <label for="noInfo">Keine Angabe</label>
                <input type="checkbox" name="noInfo" value="Keine Angabe" id="noInfo"/
                        {% if blubber['noInfo'] %}checked{% else %}{% endif %}><br><br>
            </label>
            <label>Zeitpunkt mdl. Kontakt
                <input name="timeContact" id="timeContact" pattern="[0-9]{2}.[0-9]{2}.[0-9]{2}" /
                  placeholder="dd.mm.yy" value="{{blubber['timeContact']}}"></label><br>
            <label>Ergebnis
                <textarea class="large-input" type="textarea" name="resContact" id="resContact">{{blubber['resContact']}}</textarea></label>
            <label>Notizen
                <textarea class="large-input" type="textarea" name="notes" id="notes">{{blubber['notes']}}</textarea></label>
            <label>Datum der letzten Änderung
                    <input name="lastChange" value="{{today}}"></label><br><br>
        <input class="super_btn btn" style="color: #fff" name="submit" value="Eintrag speichern" type="submit">
        {% if mode=='edit' %}
            <a class="super_btn btn btn-right" href="/delete?id={{blubber['id']}}">Eintrag löschen</a>
        {% endif %}
        </form>
        </fieldset>
        </div>

    </section>

    <footer class="primary-footer container group">Homepage designed by Manibu</footer>
</body>
