<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
  <title>Stiftungsdatenbank</title>
  <link rel="stylesheet" href="{{url_for('static', filename='assets/stylesheet/main.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
</head>

<body>
    <header class="primary-header container group">
        <h1 class="logo" ><a href="/">Universitätsspital Basel<br>Stiftungsdatenbank</a></h1>
    </header>
    <section class="row">
        <div class="grid">
        <table>
        <tr>
            <td style="padding-right: 10px">
                <a class="btn super_btn" href="/search">Datenbank durchsuchen</a>
            </td>
            <td style="padding-right: 10px">
                <a class="btn super_btn" href="/infos" method='post'>Informationen</a>
            </td>
            {% if log=='false' %}
            <td>
                <a class="btn super_btn" href="/login">Login</a>
            </td>
            {% elif log=='true' or log=='super' %}
            <td style="padding-right: 10px">
                <a class="btn super_btn" href="/formular" method='post'>Neue Stiftung erfassen</a>
            </td>
            <td>
                <a class="btn super_btn" href="/logout">Logout</a>
            </td>
            {% endif %}
            {% if log=='super' %}
            <td style="padding-left: 100px">
                <a class="btn super_btn" href="/super_show" method='post'>DB verwalten</a>
            </td>
            {% endif %}
        </tr>
        </table>
        </div>
    </section>
    <section class="row">
        <div class="grid" id="print_content">
            <h2>Liste der Stiftungen in der Datenbank</h2>
        <table width=50%>
            {% for item in items %}
                <tr>
                    <td class="fw4">
                        <a href="/show_card?id={{item[0]}}" target="_blank">{{item[1]}}</a>
                    </td>
                    {% if log=='true' or log=='super' %}
                    <td style="text-align: right">
                        <a class="btn" href="/formular?id={{item[0]}}">Eintrag bearbeiten</a>
                    </td>
                    {% endif %}
                    {% if log=='super' and item[2] %}
                    <td style="text-align: right">
                        <a class="btn" href="/restore?id={{item[0]}}" method='post'>
                            Eintrag wiederherstellen
                        </a>
                    </td>
                    {% elif log=='super' %}
                    <td style="text-align: right">
                        <a class="btn" href="/delete?id={{item[0]}}" method='post'>
                            Eintrag deaktivieren
                        </a>
                    </td>
                    {% endif %}
                    {% if log=='super' %}
                    <td style="text-align: right">
                        <a class="btn" href="/permanent_delete?id={{item[0]}}" method='post'>
                            Eintrag löschen
                        </a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        </div>
        <br>
        <div class="grid">
            <input class="btn" type="button" onclick="printDiv('print_content')" value="Liste drucken"/>
        </div>
    </section>

    <footer class="primary-footer container group">Homepage designed by Manibu</footer>
<script type=text/javascript src="{{url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
