<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
  <title>Formular</title>
  <link rel="stylesheet" href="{{url_for('static', filename='assets/stylesheet/main.css') }}">
</head>

<body>
    <header class="primary-header container group">
        <h1 class="logo" ><a href="/">Universitätsspital Basel<br>Stiftungsdatenbank</a></h1>
    </header>
    <section class="row ">
        <div class="container">
        <fieldset class="foundation-group">
        <h1>Login</h1>
        </fieldset>
        </div>

    </section>

    <footer class="primary-footer container group">Homepage designed by Manibu</footer>
</body>
